{% extends 'base.html' %}
{% load static %}
{% block body %}

<section class="navbar m-0 p-0 container-fluid shadow ">
  <nav class="navbar navbar-expand-lg navbar-light w-100 py-3">
    <div class="container ">
      <a class="navbar-brand " href="#"><img src="static/images/logo.png" width="200px" height="50px" alt=""></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown2"
        aria-controls="navbarNavDropdown2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown2">
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}"><b>HOME</b></a>
          </li>

          <li class="nav-item mx-lg-3">
            <a class="nav-link " style="color:#029D97;" href="{% url 'aboutus' %}">ABOUT US</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link " href="{% url 'training' %}">TRAINING</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'contact' %}">CONTACT</a>
          </li>




          </li>

        </ul>
      </div>
    </div>
  </nav>
  <style>
    .nav-item a {
      font-size: 18px;
    }

    .nav-link {
      font-weight: 800;
    }
  </style>
</section>

<style>
  body {
    font-family: " poppins";
  }
</style>
<BR>
<div class="card bg-dark text-white">
  <img style="opacity:30% ;" class="card-img" src="static/images/bb.Jpg" width="100%" height="250" alt="Card image">
  <div class="card-img-overlay">

    <h5 style="text-align: center;position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);" class="card-title">ABOUT US</h5><br>
    <a style="text-align: center;position: absolute;
        top:60%;
        left: 50%;
        transform: translate(-50%, -50%);color: white;text-decoration: none;" href="{% url 'home' %}">Home > About
      us</a>


  </div>
</div><br><br>
<div class="container-fluid">
  <div class="row">
    <div class="col-md">
      <h1><b>ABOUT US</b></h1>
      <hr style="height: 2px;color:red; background-color:red">

       <div class="imgs">
        
      </div> 
      
      <p style=" font-size: 16px;
        text-align: justify; padding: 5px;"><b>ALTOS</b> Technologies is a leading Software and Web development company
        based
        in Kochi, Kerala.
        With the latest technology and framework, we continuously strive to improve ideas as a
        team of young, innovative thinkers. We are located in the IT hub of Kerala, Infopark Kochi,
        and have been helping businesses and individuals realize their full potential for years
        with our expertise in Software, Web development, Mobile application development,
        3D modelling, Game development etc. We are also providing On-the-Job training to
        students with the knowledge we have gained over the past few years in order for them to
        build a great career under professionals of multinational companies.
      </p>
    
    <section>
  <div class="grid-container">
    <div class="grid-item">
      <div class="polaroid ms-3 text-center">
        <img src="static/images/career1.png" alt="5 Terre" style="width:80px">

        <p style="text-align:center;">Friendly Environment</p>
      </div>
    </div>
    <div class="grid-item">
      <div class="polaroid ms-3 text-center">
      <img src="static/images/career4.png" alt="Norther Lights" style="width:80px" class="text-center">

      <p style="text-align:center;">Learning Oppotunity</p>
    </div>
    </div>
    <div class="grid-item">
      <div class="polaroid ms-3 text-center">
        <img src="static/images/career3.png" alt="5 Terre" style="width:80px">

        <p style="text-align:center;">Challenge The World</p>
      </div>
    </div>
    <div class="grid-item">
      <div class="polaroid ms-3 text-center ">
        <img src="static/images/career2.png" alt="Norther Lights" style="width:80px">

        <p style="text-align:center;">Open Communication</p>
      </div>
    </div>  
  </div>
<style>
   .imgs {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 650px;
            height: 250px;
            background-image: url('static/images/aa.jpg');
            background-size: 100% 100%;

          }
  .grid-container {
    display: inline-grid;
    grid-template-columns: auto auto auto auto;
   
    
  }
  
  .grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    
    
    
    text-align: center;
  }
  .title{
    font-size: 16px;
  }
  @media only screen and (max-width: 600px) {
    .imgs {
        width: 100%;
        height: 300px;
    }
/* .polaroid{
display: inline-table;
font-size: 13px;

} */
.polaroid {
  display: none;
}

.pol {
  margin-top: 40px;

}
  }
  </style>  
</section>
      </div>
      <div class="col-md">
        <style>
          
         

          #whyus .container {
            padding: 20px;
            border-radius: 10px;
            box-shadow: 1px 1px 6px;
            margin: auto;
          }

          #whyus .title {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 2vh 0vh;
          }

          #whyus .title h4 {
            font-size: 2em;
            font-weight: 600;
          }

          #whyus .container p {
            font-size: 16px;
            text-align: justify;
          }

          #whyus .container p:hover {
            color: #06067c;
          }
        </style>
        <section id="whyus">
          <div class="container">

            <div class="title">
              <h4 class="line" style="color:rgb(208, 27, 27);">Why Us</h5>
            </div>
            <p class="" style="font-weight: 500;">
              <i class='bx bx-right-arrow-alt'></i> Having theoretical knowledge is not enough to sustain a newcomer in
              the industry.
              It is essential for students to accomplish real-world experience before they are hired
              to work in their fields on real projects in a real environment.
            </p>

            <p class="" style="font-weight: 500;">
              <i class='bx bx-right-arrow-alt'></i>A company internship from <b> ALTOS </b> provides students with
              valuable insight into
              the way a company or industry operate in real-time situations. Moreover, the
              supervision of working professionals from the MNC companies will allow students
              to work with mentors who help them improve their skills and monitor their performance.
              During an internship with our company, students learn more about a specific topic while
              also bridging the gap between employers' job requirements and academics.
              They are prepared for the challenges of a full-time position within any organization,
              providing more insight into the specific topic.
            </p>

            <p class="" style="font-weight: 500;">
              <i class='bx bx-right-arrow-alt'></i> It has become a requirement for even entry-level jobs to have some
              industry experience in today's world.
              Employers can be convinced that a candidate is an asset to their company if they see they have made the
              best use of their time learning and building skills, as it allows them to cope with the new environment
              quickly and to establish connections with industry leaders and professionals without delay. Upon gaining
              appropriate experience, students can not only list the duties and tasks that they performed, but also
              describe them in a thoughtful, honest, and specific manner to interviewers.
            </p>
          </div>
        </section><br>
      </div>
    </div>

    <style>
      .counts {
        padding: 5px 0 20px;
      }

      .counts .count-box {
        display: flex;
        align-items: center;
        padding: 30px;
        width: 100%;
        background: rgb(248, 237, 237);
        box-shadow: 2px 2px 2px grey;
        border-radius: 5px;
      }

      .counts .count-box i {
        font-size: 42px;
        line-height: 0;
        margin-right: 20px;
        color: #4154f1;
      }

      .counts .count-box span {
        font-size: 36px;
        display: block;
        font-weight: 600;
        color: #0b198f;
      }

      .counts .count-box p {
        padding: 0;
        margin: 0;

        font-size: 14px;
      }

      @media screen and (max-width:789px) {
        .counts {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        .counts .count-box {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    </style>
    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts">


      <div class="row gy-4">

        <div class="col-xl-3 col-md-6">
          <div class="count-box">
            <i class='bx bx-code-alt' style="color:#ee2020;"></i>
            <div>
              <span class="counter">150</span>
              <p>Expert Developer</p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="count-box">
            <i class='bx bxs-heart' style="color: #ee2020;"></i>
            <div>
              <span class="counter">350</span>
              <p>Happy Clients</p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="count-box">
            <i class='bx bxs-layer-plus' style="color:#ee2020;"></i>
            <div>
              <span class="counter">200</span>
              <p>Business Partners</p>
            </div>
          </div>
        </div>

        <div class="col-xl-3 col-md-6">
          <div class="count-box">
            <i class='bx bx-trophy' style="color:#ee2020;"></i>
            <div>
              <span class="counter">100</span>
              <p>IT Consultant</p>
            </div>
          </div>
        </div>

      </div>

  </div>
  </section><!-- End Counts Section -->
</div>


{% endblock %}