{% extends 'base2.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
{% block content %}


<style>
  
     table, th, td{
            border: 2px solid black ;
            text-align: center;
            height: 50%;
            
            border-color: #1E4D69;
            padding: 5px;
            
            
        }
        th{
            font-size: 16px;
            background-color: #1E4D69;
        }
        td{
            font-size: 18px;
        }
    .title{
        margin: auto;
    }
    .de{
        color:  #19B3D3;
    }
    .de:hover{
    color: rgb(0, 255, 21);


    
  }

  
</style>

<div class="container-fluid" style="margin-left:2%;width: 90%; ">
   
<h1 class="text-center" style="color:  #19B3D3 ;text-align: center;"> Show Applications</h1>
 <table  >
    <thead>
    <tr>
        
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>course</th>
        <th>Action</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for p in user %}
    <tr>
        
        <td style="color:#1E4D69 ;">{{ p.Name }}</td>
        <td style="color:#1E4D69 ;">{{ p.Email }}</td>
        <td style="color:#1E4D69 ;">{{ p.Phone }}</td>
        <td style="color:#1E4D69 ;">{{ p.course }}</td>
        <td> {% if p.status == 0 %}
            <button style="background-color:yellow;color:#fff;"><a href="{% url 'appl_approve' p.id %}" class="btn btn-success">Approve</a></button>
        <button style="background-color:yellow"><a href="{% url 'appl_reject' p.id %}" class="btn btn-danger">Reject</a></button>
        {% elif p.status == 1 %}
            <button style="background-color:green ; color:#fff;" class="btn btn-warning" disabled="disabled">Approved</button>
        {% else %}
            <button style="background-color:red ; color:#fff;" class="btn btn-danger" disabled="disabled">Rejected</button>
        {% endif %}</td> 
        <td> 
            <!--<button class="btn btn-primary"><a class=" de" href="#editCourseModal-{{forloop.counter}}" class="edit" data-toggle="modal">Edit</a></button>-->
            <button style="padding:2px; height:30px;width: 60px;background-color: rgb(62, 219, 62);border-color: rgb(62, 219, 62); "><a  rol="button" class="btn  btn-sm " href="{% url 'delete_apply' p.id %}" class="delete"><i style="color:red ;" class="fa-solid fa-trash-can fa-lg"></i></a></button></td>
    </tr>
   
    {% endfor %}
</tbody>
 </table>



</div>

<style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
    
    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    
    tr:nth-child(even) {
      background-color: #dddddd;
    }
    </style>

    

{% endblock content %}