{% extends 'base2.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
{% block content %}


<style>
  
     table, th, td{
            border: 2px solid black ;
            text-align: center;
            height: 50%;
            
            border-color: #1E4D69;
            padding: 5px;
            
            
        }
        th{
            font-size: 16px;
            background-color: gray;
        }
        table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }
   
    
    tr:nth-child(even) {
      background-color: rgb(228, 221, 221);
    }


 
</style>

<div class="container-fluid" style="margin-left:2%;width: 90%; ">
   
<h1 class="text-center" style="color:  gray ;text-align: center;"> Show Applications</h1>
<div style="overflow-x:auto;">
<table  >
    <thead >
    <tr >
        
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>course</th>
        <th>Action</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for p in user %}
    <tr>
        
        <td style="color:#1E4D69 ;">{{ p.Name }}</td>
        <td style="color:#1E4D69 ;">{{ p.Email }}</td>
        <td style="color:#1E4D69 ;">{{ p.Phone }}</td>
        <td style="color:#1E4D69 ;">{{ p.course }}</td>
        <td> <center>
            {% if p.status == 0 %}
            <a href="{% url 'appl_approve' p.id %}" class="btn btn-success">Approve</a>
        <a href="{% url 'appl_reject' p.id %}" class="btn btn-danger">Reject</a>
        {% elif p.status == 1 %}
            <button style="background-color:green ; color:#fff;" class="btn btn-warning" disabled="disabled">Approved</button>
        {% else %}
            <button style="background-color:red ; color:#fff;" class="btn btn-danger" disabled="disabled">Rejected</button>
        {% endif %}
    </center>
    </td> 
        <td> <center>
            <!--<button class="btn btn-primary"><a class=" de" href="#editCourseModal-{{forloop.counter}}" class="edit" data-toggle="modal">Edit</a></button>-->
            <button style="padding:2px; height:30px;width: 60px;background-color: rgb(62, 219, 62);border-color: rgb(62, 219, 62); "><a  rol="button" class="btn  btn-sm " href="{% url 'delete_apply' p.id %}" class="delete"><i style="color:red ;" class="fa-solid fa-trash-can fa-lg"></i></a></button></center></td>
    </tr>
   
    {% endfor %}
</tbody>
 </table>


</div>
</div>

<style>
    
   </style>

    

{% endblock content %}