{% if messages %}
{% for message in messages %}
<h6 class="alert alert-info text-center p-3 my-3 bg-light" id="msg">
<div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
  
     <strong>{% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Error{% else %}{{ message.tags|title }}{% endif %}!
     </strong> {{ message }}
    </h6>
 </div>
 {% endfor %}
 {% endif %}

 
    <script>
        setTimeout(function(){
            if($('#msg').length > 0){
                $('#msg').remove();
            }

        },4000)
    </script>