{% extends 'base2.html' %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/modal.css' %}">
{% block content %}


<style>
  
     table, th, td{
        border: 2px solid black ;
            text-align: center;
            height: 50%;
            
            border-color: #2ba1e6;
            padding: 5px;
            
        }
        th{
            font-size: 16px;
            background-color: rgb(133, 232, 100);
        }
        td{
            font-size: 18px;
        }
    .title{
        margin: auto;
    }
    .de{
        color:  #19B3D3;
    }
    .de:hover{
    color: rgb(0, 255, 21);


    
  }

</style>

<div class="container-fluid" style="margin-left:2%;width: 90%; ">
   
<h1 class="text-center" style="color:  rgb(133, 232, 100) ;text-align: center;"> Show Registrations</h1>
 <table >
    <thead>
    <tr>
        
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Message</th>
        <th>date</th>
        <th>Action</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tbody>
    {% for p in user %}
    <tr>
        
        <td style="color:#1E4D69 ;">{{ p.Name }}</td>
        <td style="color:#1E4D69 ;">{{ p.Email }}</td>
        <td style="color:#1E4D69 ;">{{ p.Phone }}</td>
        <td style="color:#1E4D69 ;">{{ p.message }}</td>
        <td style="color:#1E4D69 ;">{{ p.date }}</td>
        <td><center> 
            {% if p.status == 0 %}
            <a href="{% url 'regist_approve' p.id %}" class="btn btn-success">Approve</a>
       <a href="{% url 'regist_reject' p.id %}" class="btn btn-danger">Reject</a>
        {% elif p.status == 1 %}
            <button style="background-color:green ; color:#fff;" class="btn btn-warning" disabled="disabled">Approved</button>
        {% else %}
            <button style="background-color:red ; color:#fff;" class="btn btn-danger" disabled="disabled">Rejected</button>
        {% endif %}
    </center>
</td> 
     
        <td> <center>
            <!--<button class="btn btn-primary"><a class=" de" href="#editCourseModal-{{forloop.counter}}" class="edit" data-toggle="modal">Edit</a></button>-->
            <button style="padding:2px; height:30px;width: 60px;background-color: rgb(62, 219, 62);border-color: rgb(62, 219, 62); "><a  rol="button" class="btn  btn-sm " href="{% url 'delete_reg' p.id %}" class="delete"><i style="color:red ;" class="fa-solid fa-trash-can fa-lg"></i></a></button></center></td>

    </tr>
   
    {% endfor %}
</tbody>
 </table>


</div>
<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
      }
      
    
      
      tr:nth-child(even) {
        background-color: rgb(189, 245, 192);
      }
      </style>

{% endblock content %}