{% extends 'base.html' %}
{% load static %}
{% block body %}


<!-- Example Code -->

<section class="navbar m-0 p-0 container-fluid shadow ">
  <nav class="navbar navbar-expand-lg navbar-light w-100 py-3">
    <div class="container ">
      <a class="navbar-brand " href="#"><img src="static/images/logo.png" width="200px" height="50px" alt=""></a>

      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown2"
        aria-controls="navbarNavDropdown2" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end " id="navbarNavDropdown2">
        <ul class="navbar-nav ">
          <li class="nav-item ">
            <a class="nav-link" aria-current="page" href="{% url 'home' %}"><b>HOME</b></a>
          </li>

          <li class="nav-item mx-lg-3">
            <a class="nav-link " href="{% url 'aboutus' %}">ABOUT US</a>
          </li>
          <li class="nav-item mx-lg-3">
            <a class="nav-link " style="color:#029D97;" href="{% url 'training' %}">TRAINING</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link " href="{% url 'contact' %}">CONTACT</a>
          </li>




          </li>

        </ul>
      </div>
    </div>
  </nav>
  <style>
    .nav-item a {
      font-size: 18px;
    }

    .nav-link {
      font-weight: 800;
    }
  </style>
</section>



<style>
  body {
    font-family: " 'Arial Narrow', Arial, sans-serif";
    background-color: #FFFFFF;
  }
</style>

<br>


{% include 'messages.html' %}
<section>
  <div>
    <div class="card bg-dark text-white container-fluid p-0 m-0 ">
      <img style="opacity:30% ;" class="card-img" src="static/images/Final-Company-Background-Image.Jpg" width="100%"
        height="250" alt="Card image">
      <div class="card-img-overlay">

        <h5 style="text-align: center;position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);" class="card-title">TRAINING</h5>
        <a style="text-align: center;position: absolute;
      top: 60%;
      left: 50%;
      transform: translate(-50%, -50%);color: white;text-decoration: none;" href="{% url 'home' %}">Home >Training</a>

      </div>
    </div>
  </div><br><br>
</section>

<style>
  * {
    box-sizing: border-box;
  }

  /* Create two equal columns that floats next to each other */
  .column {
    float: left;
    width: 60%;
    padding: 10px;
    /* Should be removed. Only for demonstration */
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  div.polaroid {
    width: 30%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
  }

  div.container {
    text-align: center;
    padding: 10px 20px;
  }


  body {
    font-family: "poppins";
  }

  @media only screen and (max-width: 600px) {

    /* .polaroid{
  display: inline-table;
font-size: 13px;

} */
    .polaroid {
      display: none;
    }

    .pol {
      margin-top: 40px;

    }


  }

  .line {
    color: rgb(208, 27, 27);
    text-align: left;
  }

  .hh {
    text-align: left;
  }

  .pp {
    text-align: left;
  }

  .btn {
    height: 43px;
    width: 151px;
    left: 110px;
    top: 921px;
    border-radius: 5px;
    background: #1E4D69;
  }
</style>





<section>
  <div class="box ps-lg-5 container-fluid m-0 p-0">

    <div class="row container-fluid">
      <div class="col-lg-6 ff ms-3 " style="background-color:white; ">
        <h2 class="line">//WHY JOIN THE TEAM</h2>
        <h3 class="h">WHY YOU SHOULD <br>JOIN THE <span style="color:rgb(208, 27, 27);text-align: left;">&nbsp;
            TEAM</span></h3>

        <p class="pp"><B>A </B>company internship from ALTOS provides students with valuable insight into the way a
          company or industry operate in real-time situations. Moreover, the supervision of working professionals from
          the MNC companies will allow students to work with mentors who help them improve their skills and monitor
          their performance. During an internship with our company, students learn more about a specific topic while
          also bridging the gap between employers' job requirements and academics. They are prepared for the challenges
          of a full-time position within any organization, providing more insight into the specific topic.</p>
        <a href="#" class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><b>JOIN TEAM </b></a>

      </div>
      <div class="col-lg-5 pol " style="background-color:white; ">
        <div class="center">
          <div class="row">


            <div class="polaroid ms-3 text-center">
              <img src="static/images/career1.png" alt="5 Terre" style="width:80px">

              <p style="text-align:center;">Friendly Environment</p>
            </div>



            <div class="polaroid ms-5 text-center ">
              <img src="static/images/career2.png" alt="Norther Lights" style="width:80px">

              <p style="text-align:center;">Open Communication</p>
            </div>
          </div>

          <div class="row">

            <div class="polaroid ms-5 text-center">
              <img src="static/images/career3.png" alt="5 Terre" style="width:80px">

              <p style="text-align:center;">Challenge The World</p>
            </div>



            <div class="polaroid ms-5 text-center">
              <img src="static/images/career4.png" alt="Norther Lights" style="width:80px" class="text-center">

              <p style="text-align:center;">Learning Oppotunity</p>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
</section>
<section>
  <div style="width:100% ; background-color:#F6F7F9; font-family: poppins;" class="box container-fluid ">

    <h1 style="color:rgb(201, 52, 15);text-align: left;">&nbsp&nbspJOIN US</h1>
    <h3 style="text-align: left;">&nbsp&nbspCOURSES WE <span style="color:rgb(208, 27, 27);text-align: left;">&nbsp;
        PROVIDE</span></h3><br>
    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/python.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>PYTHON</b></h5>
            <p style="text-align: left;" class="card-text">The best Python development company in Kerala can provide you
              with certification courses that can enable you to get employed in a good organization that pays you well.
              Upon completion of the course, you will be able to create and manage a website by yourself without
              assistance from outside sources.</p>

            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>

          </div>
        </div>
      </div>
    </div>
    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/angular.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>ANGULAR</b></h5>
            <p style="text-align: left;" class="card-text">Are you ready to experience the opportunity to build a
              website faster, easier, and better while helping companies maximize customer benefit and satisfaction.
              Acquire a spot in ALTOS to become an Angular developer, with live working experience.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>
    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/node.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>NODE JS</b></h5>
            <p style="text-align: left;" class="card-text">The NODE JS comprises theory and practical training in all
              aspect of programming. Develop Web servers and networking tools using JavaScript and a collection of
              modules that handle various core functions.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>
    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/flutter.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>FLUTTER</b></h5>
            <p style="text-align: left;" class="card-text">The NODE JS comprises theory and practical training in all
              aspect of programming. Develop Web servers and networking tools using JavaScript and a collection of
              modules that handle various core functions. </p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>
    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/ios.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>IOS DEVELOPMENT</b></h5>
            <p style="text-align: left;" class="card-text">We all like an application that Fast, Responsive, Easy
              accessible and Attractive, right? Ever wondered how to create one? Here is the best chance to learn while
              working on real projects. Utilize the persistence of IOS Development. </p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>
    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/xamarin.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>XAMARIN DEVELOPMENT</b></h5>
            <p style="text-align: left;" class="card-text">Update your career with a touch of Xamarin in mobile
              development and .Net to reach a peak. As the digital revolution spreads across the globe, Xamarin is
              predicted to continue growing in popularity. </p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>
    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div style="float:right ;" class="col-md-4">
          <img src="static/images/Data-Science.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>DATA SCIENCE</b></h5>
            <p style="text-align: left;" class="card-text">Using modern tools and techniques to find unseen patterns,
              derive meaningful information, and make business decisions, data science is the study of vast amounts of
              data. </p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>
    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/react.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>REACT</b></h5>
            <p style="text-align: left;" class="card-text">All set to create an interactive UI for any website? Then
              React JS is your best buddy. Very diverse and many high-paying jobs wait before you to grab.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>
    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/net.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>.NET</b></h5>
            <p style="text-align: left;;" class="card-text">Join specialized .NET training programs and learn the skills
              that employers need. Learn under the guidance of expert MNC software engineers and be prepared for the job
              market.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>

    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/ml_n6AAbkI.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>MACHINE LEARNING</b></h5>
            <p style="text-align: left;" class="card-text">An in-demand, fast-growing technology career area today, to conquer the analytical data world. Gain professional experience by handling real-time projects and resolving issues in the shortest amount of time possible.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>

    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/vr.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>AUGMENTED REALITY</b></h5>
            <p style="text-align: left;" class="card-text">Unique learning environment that enables you to explore, experiment, and experience AR/VR technology in its many forms. We offer training programs that help ensure your future is secure and hopeful.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>

    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/cyber.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>CYBER SECURITY</b></h5>
            <p style="text-align: left;" class="card-text">An expert-led program with a well-designed curriculum. The course helps you learn all the skills and master the concepts you need to become a well-rounded Cyber Security professional.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>

    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/digital.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>DIGITAL MARKETING</b></h5>
            <p style="text-align: left;" class="card-text">Obtain the most demanding digital marketing skills for an advanced career with comprehensive on-the-job training.  SEO, SMM, SEM, Content Marketing etc.  A handful of careers to choose from.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>

    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/php.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>PHP</b></h5>
            <p style="text-align: left;" class="card-text">This is your greatest opportunity to study your opted PHP course with live projects and hands-on experience. As you acquire learning and practicing experience, you will gain exposure that will assist you in your future career endeavours.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>

    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/dl.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>DEEP LEARNING</b></h5>
            <p style="text-align: left;" class="card-text">Machine learning (ML) is one of the branches of artificial intelligence that has a great deal of potential and possesses a wide range of applications in healthcare, education, transportation, government etc.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>

    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/project2.jpg" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>ACCOUNTING</b></h5>
            <p style="text-align: left;" class="card-text">Accounting has been established to deliver education and training in Finance and operation. We are one of the leading companies providing on-the-job training in Accounting for candidates.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>

    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/3d.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>3D MODELING</b></h5>
            <p style="text-align: left;" class="card-text">Investing in specific skills that will enable you to replace a sketch or a theme with 3D modeling is never a silly decision. Instead, it can be an excellent choice for those who hold degrees. After completion of an OJT course in 3D modeling, you will be able to earn a great deal of money to live your dream, life.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>

    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/game.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>UNITY GAME DEVELOPMENT</b></h5>
            <p style="text-align: left;" class="card-text">Game development stands for the creative and unique ideas to hold the world in your palm. Let your imagination flow through the right way to create the best version of a game using Unity platform.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;
              " class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>
    <div style="box-shadow: 0 5px 2px -2px grey  ;" class="card mb-3" style="width: 100%;">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="static/images/android.png" class="card-img" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 style="text-align: left;" class="card-title"><b>ANDROID DEVELOPMENT</b></h5>
            <p style="text-align: left;" class="card-text">It is an ideal course for beginners. As part of our Android
              training, candidates learn basic Java programming concepts and work their way up to developing
              full-fledged Android applications.</p>
            <button style="float:right ;width: 30%;background-color: #1E4D69 ;height: 43px;
              width: 147px;
              border: 2px solid #029D97;
              border-radius: 3px;" class="btn" data-bs-toggle="modal" data-bs-target="#registermodal"><span style="font-family: Poppins;
font-size: 14px;
font-weight: 600;
line-height: 21px;
letter-spacing: 0em;
text-align: left;color: #FFFFFF;

"><b>APPLY</b></span></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <center>


  </center><br>
  </div>
</section>

<section>

  <div class="modal fade" id="registermodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md">
      <div class="modal-content">

        <div class="modal-body p-0">

          <div class="container-fluid">
            <div class="close_button text-end">
              <button type="button" class="btn-close p-2 mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>

            <div class="row gy-4">

              <div class="col-lg-12">

                <div class="p-lg-5 col-12 row g-3">

                  <form method="POST" action="{% url 'app' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <div>
                      <h1 class="mt-3">Course Apply Form</h1>
                      <p>Fill the the form and we will get back to you as soon as possible</p>
                    </div>
                    <div class="col-lg-12">
                      <label for="courseName" class="form-label">Choose Your Course &nbsp;</label>
                     <select class="form-control"style="font-size:14px;" name ="coname">
                                                <option required></option>
                                                    <option style="font-size:12px ;"  value="PYTHON" required>PYTHON</option>
                                                    <option style="font-size:12px ;"  value="ANGULAR" required>ANGULAR</option>
                                                    <option style="font-size:12px ;"  value="ACCOUNTING" required>ACCOUNTING</option>
                                                    <option style="font-size:12px ;"  value="NODE JS" required>NODE JS</option>
                                                    <option style="font-size:12px ;"  value="FLUTTER" required>FLUTTER</option>
                                                    <option style="font-size:12px ;"  value="3D MODELING" required>3D MODELING</option>
                                                    <option style="font-size:12px ;"  value="GAME DEVELOPMENT" required>GAME DEVELOPMENT</option>
                                                    <option style="font-size:12px ;"  value="IOS DEVELOPMENT" required>IOS DEVELOPMENT</option>
                                                    <option style="font-size:12px ;"  value="XAMARIN DEVELOPMENT" required>XAMARIN DEVELOPMENT</option>
                                                    <option style="font-size:12px ;"  value="DATA SCIENCE" required>DATA SCIENCE</option>
                                                    <option style="font-size:12px ;"  value="DEEP LEARNING" required>DEEP LEARNING</option>
                                                    <option style="font-size:12px ;"  value="REACT" required>REACT</option>
                                                    <option style="font-size:12px ;"  value=".NET" required>.NET</option>
                                                    <option style="font-size:12px ;"  value="PHP" required>PHP</option>
                                                    <option style="font-size:12px ;"  value="DIGITAL MARKETING" required>DIGITAL MARKETING</option>
                                                    <option style="font-size:12px ;"  value="CYBER SECURITY" required>CYBER SECURITY</option>
                                                    <option style="font-size:12px ;"  value="AUGMENTED REALITY" required>AUGMENTED REALITY</option>
                                                    <option style="font-size:12px ;"  value="ANDROID DEVELOPMENT" required>ANDROID DEVELOPMENT</option>
                                                    <option style="font-size:12px ;"  value="MACHINE LEARNING" required>MACHINE LEARNING</option>
                                                
                                            </select>
                    </div>

                    <div class="col-lg-12">

                      <label for="userName" class="form-label">Full Name &nbsp;</label>
                      <input type="text" class="form-control" name="  Name" id="userName" aria-describedby="emailHelp"
                        required>
                    </div>

                    <div class="col-12">
                      <label for="mail" class="form-label">Email address</label>
                      <input type="email" class="form-control" name="Email" id="mail" aria-describedby="emailHelp"
                        required>
                    </div>
                    <div class="col-12">
                      <label for="cont" class="form-label">Contact</label>
                      <input type="tel" class="form-control" name="Phone" id="cont" aria-describedby="emailHelp"
                        required>
                    </div>
                    <div class="col-12">
                      <label for="loc" class="form-label">Place</label>
                      <input type="text" class="form-control" name="place" id="loc" aria-describedby="emailHelp"
                        required>
                    </div>

                    <div class="col-12"><br>
                      <button style="background-color:orange ;" type="submit" class="btn btn-brand mb-3">Apply</button>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</section>
{% endblock %}